*{font-family: sans-serif; list-style: none;}
body{display: grid;place-items: center;min-height: 100vh;}
center{}
h2, h3{font-size: 2.5vw;}
form{
	width: 30vw;display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5vw;
	margin: 1vw 0vw 1vw 0vw;
}
input, textarea, button{width: 90%;font-size: 1.3vw;padding: 0.5vw;}
ul{
	width:70vw;
	background:#f2e2a2;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	padding:0.5vw;
}

@media(max-width: 991px){
	h2, h3{font-size: 5rem;}
	form{width: 90vw;gap: 0.5vw;margin: 1vw 0vw 1vw 0vw;}
	input, textarea, button{width: 90%;font-size: 3rem;padding: 2rem;}
	button{padding: 3rem 0rem 3rem 0rem;}
	ul{width: 90vw;;padding: 1rem; font-size: 2rem;font-weight: 900;}
}