*{font-family:sans-serif;}
body{display: grid;place-items: center;min-height: 100vh;}
center{}
h2, h3{font-size:2.5vw;}
#formulario{
	width: 30vw;display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5vw;
	margin: 1vw 0vw 1vw 0vw;
}
input, textarea, button{width: 90%;font-size: 1.3vw;padding: 0.5vw;}
#lista{background: #f2e2a2;width:80vw;padding: 0;}
li:nth-child(even){background-color: rgba(0, 0, 0, .28);}
li{width: 100%;list-style-type: none;display: flex;}
p{flex: 3;font-size: 1.5vw;display: flex;justify-content: center;}

@media(max-width: 991px){
	h2, h3{font-size: 5rem;}
	#formulario{width: 90vw;gap: 0.5vw;margin: 1vw 0vw 1vw 0vw;}
	input, textarea, button{width: 90%;font-size: 3rem;padding: 2rem;}
	button{padding: 3rem 0rem 3rem 0rem;}
	#lista{width: 90vw;}
	p{font-size: 2rem;}
}